<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoout</servlet-name>
        <servlet-class>Logoout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MountainDetailServlet</servlet-name>
        <servlet-class>MountainDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUploadServlet</servlet-name>
        <servlet-class>AdminUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileReviewServlet</servlet-name>
        <servlet-class>ProfileReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUsServlet</servlet-name>
        <servlet-class>ContactUsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoout</servlet-name>
        <url-pattern>/Logoout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MountainDetailServlet</servlet-name>
        <url-pattern>/MountainDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadServlet</servlet-name>
        <url-pattern>/AdminUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>UploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileReviewServlet</servlet-name>
        <url-pattern>/ProfileReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUsServlet</servlet-name>
        <url-pattern>/ContactUsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
